:root {
  --header-color: #ffffff;
  --logo-color: #2196f3;
  --firstsection-color: #2f303a;
  --article-color: #fff;
  --title-color: #212121;
  --text-color: #757575;
  --footer-color: #2f303a;
  --team-color: #f5f4fa;
  --icons-color: #afb1b8;
  --number-color: rgba(255, 255, 255, 0.6);
  --grid-gap: 30px;
  --goods: 3;
}
body {
  font-family: Roboto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.grid-list {
  display: flex;
  justify-content: center;
  gap: var(--grid-gap);
}
.grid-item {
  width: calc((100% - var(--grid-gap) * var(--goods)) / var(--goods));
}
/* header first */
.first {
  padding-top: 24px;
  padding-bottom: 25px;
}
.first1 {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid grey;
}
.first-page {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-page:hover {
  color: #2196f3;
}
.first-page::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  opacity: 0;
  margin-top: 28px;
  justify-content: center;
  background-color: var(--logo-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-item:hover > .first-page::after {
  opacity: 1;
}
.first-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-link:hover {
  color: #2196f3;
}
.first-logo {
  margin-right: 93px;
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.first-contacts {
  font-size: 14px;
  font-weight: 500;
  display: flex;
}
.first-contact {
  align-items: center;
  display: flex;
}
.first-mail {
  margin-right: 50px;
  font-weight: 500;
  color: var(--text-color);
  flex-direction: row-reverse;
}
.first-tel {
  flex-direction: row-reverse;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}

.first-link:hover + .first-icons {
  fill: var(--logo-color);
}
.first-icons {
  fill: var(--text-color);
  width: 16px;
  height: 16px;
  display: flex;
  margin-right: 10px;
}
/* section hero */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./photo/Img.webp);
  background-repeat: no-repeat;
  background-position: center, center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-text {
  margin-bottom: 30px;
  color: var(--article-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  animation-name: run-text;
  animation-duration: 2s;
}
@keyframes run-text{
  0%{

transform:translateX(100%) ;
color: var(--title-color);
  }
  25%{
color: var(--footer-color);
  }
  50%{
color: var(--text-color);
font-size: 0px;
  }
  100%{
    transform: translateX(0%);
    font-size: 44px;
    color: var(--article-color);
  }
}
.hero-button {
  border: none;
  padding: 10px 32px;
  color: var(--article-color);
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8; /* 187.5% */
  letter-spacing: 0.96px;
  background: var(--logo-color);
  margin-left: 492px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,.hero-button:focus {
  box-shadow: 0px 4px 4px 0px grey;
}
/* section advantages */
.advantages {
  padding-top: 94px;
}
.advantages-item {
  margin-left: 30px;
}
.advantages-item:first-child:before {
  margin-bottom: 30px;
  content: "" url(./photo/Satellite.webp);
  display: block;
}
.advantages-item:nth-child(2):before {
  margin-bottom: 30px;
  content: "" url(./photo/Clock.webp);
  display: block;
}
.advantages-item:nth-child(3):before {
  margin-bottom: 30px;
  content: "" url(./photo/Computer.webp);
  display: block;
}
.advantages-item:nth-child(4):before {
  margin-bottom: 30px;
  content: "" url(./photo/SpaceMan.webp);
  display: block;
}
.advantages-name {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages-article {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
}
/* section work */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-name {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work-decorate > .work-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 4px;
  background: rgba(47, 48, 58, 0.8);
  color: #eee;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.work-decorate {
  position: relative;
}
/* section team */
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--team-color);
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--header-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-photo {
  margin-bottom: 30px;
}
.team-name {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-nick {
  margin-bottom: 10px;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-article {
  margin-bottom: 30px;
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.team-icons {
  fill: var(--icons-color);
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-iconslist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team-link:hover {
  background-color: var(--logo-color);
}
.team-link:hover > .team-icons {
  fill: var(--header-color);
}
.team-link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* clients */
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-item {
  border-radius: 4px;
  border: 1px solid var(--icons-color);
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:hover > .clients-icons {
  fill: var(--logo-color);
}
.clients-item:hover {
  border: 1px solid var(--logo-color);
}
.clients-title {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 66px;
}
.clients-icons {
  fill: var(--icons-color);
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer last */
.last {
  padding-top: 60px;
  padding-bottom: 60px;
}
.last-container {
  display: flex;
  gap: 70px;
}
.last-item {
  margin-bottom: 10px;
}
.last-logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.last-article {
  margin-bottom: 18px;
  margin-top: 20px;
  color: var(--article-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
  width: 300px;
}
.last-link {
  color: var(--number-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;
}
.last-text {
  color: var(--article-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding-top: 10px;
}
.icons {
  fill: var(--header-color);
  width: 20px;
  height: 20px;
}
.last-iconslink {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-icons {
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last-icons:hover {
  background-color: var(--logo-color);
}
.last-list {
  gap: 12px;
  display: flex;
}

.footer-form {
  padding-top: 12px;
  margin-left: 80px;
}

.footer-form-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form-container {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  width: 358px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--whathbtbg);
}

.footer-form-input::placeholder {
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-form-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  background-color: #188ce8;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
.footer-form-icon {
  fill: var(--article-color);
  width: 24px;
  height: 24px;
}
/* modal */
.modal-title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  border-radius: 4px;
  background: #fff;
  flex-shrink: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 581px;
}
.backdrop.is-hidden .modal-window{
transform: translate(0);
transform: scale(0);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.no-scroll {
  overflow: hidden;
}

.modal-close-button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.modal-name {
  color: var(--headermail);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--whathbtbg);
}
.modal-icons {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--feauturesmain);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icons:hover {
  fill: var(--logo-color);
}
.modal-comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:hover {
  border-color: var(--whathbtbg);
}
.modal-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.modal-text {
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.modal-link {
  color: var(--whathbtbg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-link:hover {
  color: var(--logo-color);
}
.modal-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--whathbtbg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  border-color: transparent;
  background-color: #188ce8;
}
/* portfolio page */
/* section pages */
.pages {
  padding-top: 94px;
  padding-bottom: 50px;
}
.pages-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.pages-button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6; /* 162.5% */
  letter-spacing: 0.48px;
  transition: background-color, box-shadow,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pages-button:hover {
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 2px 2px 0px grey;
}
/* section goods */
.goods {
  padding-bottom: 94px;
}
.goods-item {
  --goods: 3;
  outline: 1px solid #eee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.overlay-text {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0,300px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay:hover .overlay-text {
  transform: translate(0,0);
}
.goods-overlay-text {
  color: var(--article-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  width: 322px;
}
.overlay {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  background-color: var(--article-color);
  overflow: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods-list {
  --grid-gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.goods-name {
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 24px;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2.2; /* 200% */
  letter-spacing: 1.08px;
}
.goods-text {
  padding-bottom: 20px;
  padding-left: 24px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8; /* 187.5% */
  letter-spacing: 0.48px;
}
.goods-photo {
  width: 100%;
  display: block;
  max-width: 100%;
}
.last {
  background: var(--footer-color);
}
.utter {
  background: #2f303a;
}
.first-span {
  color: #212121;
}
.last-span {
  color: #fff;
}
.one-span {
  color: #212121;
}
.utter-span {
  color: #fff;
}
.team-list,
.work-list,
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.team-photo {
  width: 270px;
}
.hero-flex {
  display: flex;
  justify-content: center;
}
.first-flex {
  display: flex;
  align-items: center;
}
.first-list {
  width: 281px;
  display: flex;
  justify-content: space-between;
}
