:root{
    --header-color:#FFFFFF;
    --button-color:#2196F3;
    --firstsection-color:#2F303A;
     --article-color:#FFFFFF;
    --section-color:#FFF;
    --title-color:#212121;
    --text-color:#757575;
    --footer-color:#2F303A;
}