:root{
    --header-color:#FFFFFF;
    --button-color:#2196F3;
    --firstsection-color:#2F303A;
     --article-color:#FFFFFF;
    --section-color:#FFF;
    --title-color:#212121;
    --text-color:#757575;
    --footer-color:#2F303A;
}
body{
    font-family: Roboto;
}
.first-list{
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.first-list2{
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
header>nav>a{
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}